{
   "caller_id": "SELECT Person WHERE friendlyname='{{viTopContact}}'",
    "title": "{{vItopTitle}}",
    "functionalci_id":"SELECT FunctionalCI WHERE friendlyname='{{vHostName}}'",
    "impact": "3",
    "origin": "Autres",
    "urgency": "3",
    "edf_domaine_id": "SELECT EDF_Domaine WHERE friendlyname='A DETERMINER'",
    "team_id": "SELECT Team WHERE friendlyname='{{vTeam}}'",
    "edf_serviceconcerne_id": "SELECT EDF_Serviceconcerne WHERE friendlyname='APPLICATIF'",
    "edf_souscategorie_id": "SELECT EDF_Souscategorie WHERE friendlyname='A0 - INFORMATIONS-A DETERMINER'",
    "org_id": "SELECT Organization WHERE friendlyname='EDF-ISIM'",
    "contact_id": "SELECT Person WHERE friendlyname='{{viTopContact}}'",
	"description": "Message automatique: Erreur de sauvegarde de type ${vErrorType} sur le serveur  ${vHostName}. Merci de la traiter."
}